<p>
    <div class="event-name">{{name}}</div>
    <!--add in formatting for date of event, time, price?-->
    <button data-eventid="{{id}}" class="change-saved" data-saved="{{saved}}">
        {{#if saved}}RETURN TO LIST >>{{else}} Save to itinerary >>{{/if}} </button>

</p>