<p>
    <div class="flight-airline">{{airline}}</div>
    <!--add in formatting for price, airlines, date, dTime, aTime, has_airport_change, availability?-->
    <button data-flightid="{{id}}" class="change-saved" data-saved="{{saved}}">
        {{#if saved}}RETURN TO LIST >>{{else}} Save to itinerary >>{{/if}} </button>

</p>