<div class="jumbotron jumbotron-fluid pageTitle">
    <div class="container">
        <h1 class="display-4 pageTitle">Saved Itineraries</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="card col-md">
            <div class="card-body">
                <div class="eventSearchResults row">
                    {{#each info}}
                    <div class="col-md-3">
                        <div class="trip-name">{{dataValues.cityName}}</div>
                        <!--date, time, price-->
                        <div class="event-info">{{dataValues.departureDate}} - {{dataValues.arrivalDate}}</div>
                        <button data-eventid="{{id}}" class="btn btn-primary seeInfo">Itinerary</button>
                    </div>
                    <!--sort out hidden information to show if button is clicked-->
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://kit.fontawesome.com/5a59e9708f.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/airport-autocomplete-js@latest/dist/index.browser.min.js"></script>
{{!-- <script src="js/searchResults.js"></script> --}}
{{!-- <script src="itinerary.js"></script> --}}
<!--insert other js links here-->