<div class="jumbotron jumbotron-fluid pageTitle">
    <div class="container">
        <h1 class="display-4 pageTitle">Saved Itineraries</h1>
    </div>
</div>
<div class = "container">
    <div class = "row">
        <div class="card col-md-4">
            <div class="card-body">
                <div class="eventSearchResults row">
                    {{#each trip}}
                        <div class="col-md-3">
                            <class="trip-name">{{trip.cityName}}</div>
                            <!--date, time, price-->
                            <div class="event-info">{{trip.departureDate}} - {{trip.arrivalDate}}</div>
                            <button data-eventid="{{id}}" class="btn btn-primary seeInfo">Itinerary</button>
                            <!--sort out hidden information to show if button is clicked-->
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://kit.fontawesome.com/5a59e9708f.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/airport-autocomplete-js@latest/dist/index.browser.min.js"></script>
<script src="js/searchResults.js"></script>
<!--insert other js links here-->