.jumbotron {
    background-image: url("https://images.pexels.com/photos/346885/pexels-photo-346885.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    background-position: center;
    height: 300px;
}
.btn-primary{
    background-color: rgb(25, 133, 164);
    border-color: rgb(25, 133, 164);
}
.btn-primary:hover {
    border-color: rgb(75, 93, 99);
    background-color: rgb(25, 133, 164);
}
.searchTitle {
    font-weight: normal;
}
